.estandar{
	width: 100px;
	height: 50px;
}
.inline{
	display: inline-block;
	top: 50%;
	left: 20%;
}
.linea{
	display: inline;
}

.fotociudad{
	width: 90%;
	height: 100%;
	margin: 0%;
}
.btncirculo{
	border-radius: 20px;
	color: white;
	padding: 1px;
	cursor: pointer;
	
}
.marginder{
	margin:5% -20%;
}

.mosaico{
	width: 540px;
	height: 100px;
	margin:10px 0px;
}
.center{
	position: absolute;
	right: 48%;
	bottom: -59.5%;
}
.CBlack{
	background-color: #000000;
}
.CdRosa{
	background-color: #FF1493;
}
.CGris{
	background-color: #696969;
}

.btnFollow{
	width: 10px;
	height: 10px;
	color: white;
	cursor: pointer;
}
.cuadroopac{
	width: 100px;
	height: 100px;
	opacity: 0.5;
}
.NoneBorder{
		border:none;
}
.border1{
 	border-top: 2px gray dotted;
}
.border2{
 	border-radius: 100%;
 	border: 2px gray dotted;
 	height: 30px;
 	width: 20px;

}
a{
	text-decoration: none;
}
.tuit{
	height: 50px;
	width: 50px;

}
.cuadro{
	width: 53px;
	height: 20px;
	color: white;
}
.negrita{
	font-weight: bold;
}
